{% extends 'core.html' %}

{% load static %}

{% block title %}Inventario{% endblock title %}

{% block content %}
    {% if not user.is_staff %}
        <meta http-equiv="REFRESH" content="0;url={% url 'home' %}">
    {% endif %}  
    <!-- Header -->
    <header id="id_header">
        <a id="id_logo" href="{% url 'home' %}">
            <img src="{% static 'img/logo.png' %}" alt="Web_pt">
        </a>
        <nav id="id_navbar">
            <a class="nav-link" href="{% url 'home' %}">Inicio</a>
            <a class="nav-link" href="{% url 'schedule' %}">Agenda</a>
            {% if user.is_staff %}    
            <a class="nav-link" href="{% url 'inventory-onu' %}">Inventario</a>
            {% endif %}
            <hr class="separator">
            <a class="nav-link" id="id_btn_logout" onclick="document.getElementById('id_form_logout').submit()">Cerrar Sesión</a>
            <form id="id_form_logout" action="{% url 'logout' %}" method="post" style="display: none;">{% csrf_token %}</form>
        </nav>
    </header>
    <!-- Content -->
    <div class="generic-page-1" id="id_inventory_page">
        <div id="id_inventory_page_header">
            <h1>Inventario</h1>
            <select class="selector" onchange="redirect_inventory(this.value)">
                <option value="onu" {% if request.path == "/inventory/onu/" %}selected{% endif %}>ONUs</option>
                <option value="router" {% if request.path == "/inventory/router/" %}selected{% endif %}>Routers</option>
            </select>
        </div>
        <div id="id_device_inventory">
            <div class="inventory-header">
                <form class="form-search-customer">
                    <input class="form-input" type="text" placeholder="Buscar" id="id_text_search" onkeyup="get_onu_list()">
                    <button class="btn"><svg width="1rem" height="1rem" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15.7955 15.8111L21 21M18 10.5C18 14.6421 14.6421 18 10.5 18C6.35786 18 3 14.6421 3 10.5C3 6.35786 6.35786 3 10.5 3C14.6421 3 18 6.35786 18 10.5Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg></button>
                </form>

                <div id="id_div_form_onu"></div>
                
            </div>
            <hr class="separator">
            <div class="device-list" id="id_device_list"></div>
        </div>
    </div>
    <!-- Forms -->

    <div class="div-fullpage generic-form-1" id="id_delete_onu" style="display: none;"></div>

    <!-- Footer -->
    <footer id="id_footer">
        <p>Piccioli Telco</p>
    </footer>
{% endblock content %}