{% extends 'core.html' %}

{% load static %}

{% block title %}Inventario{% endblock title %}

{% block content %}
    {% if not user.is_staff %}
        <meta http-equiv="REFRESH" content="0;url={% url 'home' %}">
    {% endif %}  
    <!-- Header -->
    <header id="id_header">
        <a id="id_logo" href="{% url 'home' %}">
            <img src="{% static 'img/logo.png' %}" alt="Web_pt">
        </a>
        <nav id="id_navbar">
            <a class="nav-link" href="{% url 'home' %}">Inicio</a>
            <a class="nav-link" href="{% url 'schedule' %}">Agenda</a>
            {% if user.is_staff %}    
            <a class="nav-link" href="{% url 'inventory-onu' %}">Inventario</a>
            {% endif %}
            <hr class="separator">
            <a class="nav-link" id="id_btn_logout" onclick="document.getElementById('id_form_logout').submit()">Cerrar Sesión</a>
            <form id="id_form_logout" action="{% url 'logout' %}" method="post" style="display: none;">{% csrf_token %}</form>
        </nav>
    </header>
    <!-- Content -->
    <div class="generic-page-1" id="id_inventory_page">
        <div id="id_inventory_page_header">
            <h1>Inventario</h1>
            <select class="selector" onchange="redirect_inventory(this.value)">
                <option value="onu" {% if request.path == "/inventory/onu/" %}selected{% endif %}>ONUs</option>
                <option value="router" {% if request.path == "/inventory/router/" %}selected{% endif %}>Routers</option>
            </select>
        </div>
        <div id="id_device_inventory">
            <div class="inventory-header">
                
                <div id="id_device_filters">
                    <input class="filter-input colspan-2" type="text"  placeholder="Buscar" id="id_filter_search_text" onkeyup="get_onu_list()">
                    <div class="filter-input-w-label">
                        <label for="id_filter_device_status" class="label">Status</label>
                        <select class="filter-input" id="id_filter_device_status" onchange="get_onu_list()">
                            <option value="0">--------</option>
                            <option value="1">Sin instalar</option>
                            <option value="2">Instalado</option>
                        </select>
                    </div>
                    <div id="id_assigned_date" class="colspan-2" onchange="get_onu_list()">
                        <div class="filter-input-w-label">
                            <label for="id_filter_from_date" class="label">Desde</label>
                            <input class="filter-input" type="date" id="id_filter_from_date">
                        </div>
                        <div class="filter-input-w-label">
                            <label for="id_filter_to_date" class="label">Hasta</label>
                            <input class="filter-input" type="date" id="id_filter_to_date">
                        </div>
                    </div>
                    <div class="filter-input-w-label">
                        <label for="id_filter_assigned" class="label">Asignado</label>
                        <select class="filter-input" id="id_filter_assigned" onchange="get_onu_list()"> 
                            <option value="sd">---- ----</option>
                            <option value="of">Oficina</option>
                            {% for technician in technicians %}
                                <option value="{{ technician.pk }}">{{ technician.user.get_full_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <button id="id_btn_export_customers" class="btn" onclick="onu_export_xlsx();">Exportar</button>
                    <div id="id_get_xlsx" style="display: none;"></div>
                </div>

                {% if user.is_superuser %}
                <div id="id_div_form_onu"></div>
                {% endif %}
            </div>
            <hr class="separator">
            <div class="device-list" id="id_device_list"></div>
        </div>
    </div>
    <!-- Forms -->

    <div class="div-fullpage generic-form-1" id="id_delete_onu" style="display: none;"></div>

    <!-- Footer -->
    <footer id="id_footer">
        <p>Piccioli Telco</p>
    </footer>
{% endblock content %}