{% load order_app_extras %}

{% for customer in customer_list %}
<div class="customer">
    <div class="customer-info">
        <p class="customer-header" onclick="get_form(`{% url 'update-customer' customer.contract_number %}`, 'id_update_customer_form').finally(() => {$('#id_contract_number').attr('readonly', true)});">C{{ customer.contract_number }} | {{ customer.customer_name }}</p>
        <p class="address">{{ customer.address }}</p>
        <p class="customer-comment">{{ customer.comment|is_none }}</p>
    </div>
    <hr class="separator">
    <form class="preconfig-form" method="post" action="{% url 'update-preconfig-order' customer.order.pk %}" onchange="event.preventDefault();submit_preconfig_customer(this)">
        {% csrf_token %}
        <div class="form-field">
            <input class="form-input" type="text" value="{{ customer.get_plan_display }}" readonly>
            <span class="floating-label">Plan</span>
        </div>
        <div class="form-field">
            <input class="form-input" type="text" value="{{ customer.get_category_display }}" readonly>
            <span class="floating-label">Categoría</span>
        </div>
        <div class="connection-data colspan-2">
            <div class="form-field">
                <input class="form-input" type="number" placeholder=" " name="zone" value="{{ customer.order.zone|if_input_none }}">
                <span class="floating-label">Zona</span>
            </div>
            <div class="form-field">
                <input class="form-input" type="number" placeholder=" " name="olt" value="{{ customer.order.olt|if_input_none }}">
                <span class="floating-label">OLT</span>
            </div>
            <div class="form-field">
                <input class="form-input" type="number" placeholder=" " name="card" value="{{ customer.order.card|if_input_none }}">
                <span class="floating-label">Tarj.</span>
            </div>
            <div class="form-field">
                <input class="form-input" type="number" placeholder=" " name="pon" value="{{ customer.order.pon|if_input_none }}">
                <span class="floating-label">PON</span>
            </div>
            <div class="form-field">
                <input class="form-input" type="number" placeholder=" " name="box" value="{{ customer.order.box|if_input_none }}">
                <span class="floating-label">Caja</span>
            </div>
        </div>
        <div class="form-field colspan-2">
            <input class="form-input" type="text" placeholder=" " name="onu_serial" value="{{ customer.order.onu_serial|if_input_none }}">
            <span class="floating-label">Serial ONU</span>
        </div>
        <div class="form-field colspan-2">
            <input class="form-input" type="text" placeholder=" " name="router_serial" value="{{ customer.order.router_serial|if_input_none }}">
            <span class="floating-label">Serial Router</span>
        </div>
        
    </form>
</div>
{% empty %}
<p class="empty-customers">No hay instalaciones asignadas</p>
{% endfor %}