{% load order_app_extras %}
<div class="device-row device-row-header">
    <p class="cell">S/N Router</p>
    <p class="cell">Cliente</p>
    <p class="cell">Asignado a</p>
    <p class="cell">Última modificación</p>
</div>
{% for router in router_list %}
<div class="device-row {% if router.order.completed %}completed{% endif %}" {% if user.is_superuser %}onclick="get_update_router_form('{{ router.pk }}')"{% endif %}>
    <p class="cell">{{ router.serial }}</p>
    <p class="cell">{{ router.order.customer.pk|is_none }}</p>
    <p class="cell">{{ router.technician|is_none }}</p>
    <p class="cell">{{ router.date_updated|date:"d-m-Y" }}</p>
</div> 
{% empty %}
<div class="device-list-empty">
    <p>No se encontraron resultados.</p>
</div>
{% endfor %}